In [37]:
import pandas as pd
import gzip
import io

In [38]:
d = pd.read_csv('./in/in_new.snp', sep='\t')
f=gzip.open('./out_wbs/D_num.site.gz','r')
site=str(f.read())[2:-3]
df2 = pd.DataFrame([[x.split('\\t')[0], int(x.split('\\t')[1])] for x in site.split('\\n')], columns=['chr', 'pos'])
rs = pd.merge(df2,d, on=['chr', 'pos'], how='left').id_.to_list()
f=gzip.open('./out_wbs/D_num.TriangleV.gz','r')
txt = str(f.read())
data = [x.split('\\t')for x in txt.split('\\n')[1:-1]]

new = []
new2 = []
for idx, x in enumerate(data):
  add = []
  for j in new:
    add.append(j[idx-1])
  new2.append(add + [1] + x)
  add.extend(x)
  new.append(add)
else:
  add = []
  for j in new:
    add.append(j[idx])
  print(add)
  new2.append(add + [1])

df = pd.DataFrame(new2, columns=rs, index=rs)

['0.222', '0.064', '0.051', '0.235', '0.123', '0.121', '0.150', '0.835']

In [39]:
df

,rs225130,rs225131,rs225132,rs880315,rs17367504,rs2024758,rs848309,rs10903129,rs12027135
rs225130,1,0.602,0.585,0.266,0.053,0.092,0.059,0.298,0.222
rs225131,0.602,1,0.958,0.325,0.215,0.198,0.192,0.165,0.064
rs225132,0.585,0.958,1,0.326,0.225,0.241,0.236,0.167,0.051
rs880315,0.266,0.325,0.326,1,0.439,0.287,0.246,0.208,0.235
rs17367504,0.053,0.215,0.225,0.439,1,0.405,0.314,0.123,0.123
rs2024758,0.092,0.198,0.241,0.287,0.405,1,0.953,0.217,0.121
rs848309,0.059,0.192,0.236,0.246,0.314,0.953,1,0.263,0.150
rs10903129,0.298,0.165,0.167,0.208,0.123,0.217,0.263,1,0.835
rs12027135,0.222,0.064,0.051,0.235,0.123,0.121,0.150,0.835,1

In [11]:
rs

['rs225130', 'rs225131', 'rs225132', 'rs880315', 'rs17367504']

In [13]:
f=gzip.open('./out_wbs/D_num.TriangleV.gz','r')
txt = str(f.read())
data = [x.split('\\t')for x in txt.split('\\n')[1:-1]]

new = []
new2 = []
for idx, x in enumerate(data):
  add = []
  for j in new:
    add.append(j[idx-1])
  new2.append(add + [1] + x)
  add.extend(x)
  new.append(add)
else:
  add = []
  for j in new:
    add.append(j[idx])
  print(add)
  new2.append(add + [1])

df = pd.DataFrame(new2, columns=rs, index=rs)
df

[['0.602', '0.585', '0.266', '0.053'],
 ['0.958', '0.325', '0.215'],
 ['0.326', '0.225'],
 ['0.439']]

In [34]:
new = []
new2 = []
for idx, x in enumerate(data):
  add = []
  for j in new:
    add.append(j[idx-1])
  new2.append(add + [1] + x)
  add.extend(x)
  new.append(add)
else:
  add = []
  for j in new:
    add.append(j[idx])
  print(add)
  new2.append(add + [1])

df = pd.DataFrame(new2, columns=rs, index=rs)
df

['0.053', '0.215', '0.225', '0.439']

         rs225130 rs225131 rs225132 rs880315
rs225130    0.602    0.585    0.266    0.053
rs225131    0.602    0.958    0.325    0.215
rs225132    0.585    0.958    0.326    0.225
rs880315    0.266    0.325    0.326    0.439